#contact-sec {
	background-color: var(--teal-dark);
	justify-content: space-evenly;
}

#social-container {
	background-color: white;
	padding: 28px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#social-txt {
	font-size: 32px;
	font-family: "Montserrat Subrayada", sans-serif;
	margin: 20px 0px 28px;
}

#link-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;

	border: 1px solid rgb(200, 200, 200);
	padding: 16px 0px;
	border-radius: 8px;
}

.fab,
.fa-envelope {
	font-size: 24px;

	transition: transform ease-in-out 150ms;
}

.fa-envelope {
	margin-right: 12px;
}

.fab:hover,
.fa-envelope:hover {
	transform: scale(1.25);
}

#email-id {
	text-decoration: none;
	color: black;
	font-family: "Mulish", sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 24px 16px 12px;
}

#or {
	color: white;
	font-size: 48px;
	font-family: "Montserrat Subrayada", sans-serif;
}

#contact-form {
	background-color: white;
	padding: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;

	position: relative;
}

#form-txt {
	margin: 20px;
	font-size: 32px;
	font-family: "Montserrat Subrayada", sans-serif;
}

.field-holder {
	position: relative;
	margin: 40px 0px 12px;
}

input,
textarea {
	align-self: flex-start;
	width: 300px;
	padding: 12px 20px 8px 12px;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 2px solid var(--teal-dark);
	font-family: "Mulish", sans-serif;
}

label {
	position: absolute;
	left: 4px;
	top: -20px;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	cursor: text;
	transition: all ease-in-out 200ms;
}

#email:invalid {
	border-bottom: 2px solid red;
}

input::placeholder,
textarea::placeholder {
	visibility: hidden;
}

input:placeholder-shown ~ label,
textarea:placeholder-shown ~ label {
	left: 8px;
	top: 4px;
	font-size: 20px;
}

input:focus ~ label,
textarea:focus ~ label {
	left: 4px;
	top: -20px;
	font-size: 16px;
}

#form-err {
	align-self: flex-start;
	color: red;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	margin: 8px;
	visibility: hidden;
}

#submit-form {
	align-self: flex-end;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	color: var(--teal-dark);
	padding: 0.75em 1.15em;
	font-weight: 700;
	border: 4px solid var(--teal-dark);
	margin: 8px 24px;
	box-shadow: inset 0 0 0 0 var(--teal-dark);

	transition: all ease-in-out 240ms;
}

#submit-form:hover {
	color: white;
	box-shadow: inset 100px 0 0 0 var(--teal-dark);
}

.fa-github {
	color: #24292e;
}
.fa-facebook {
	color: #4267b2;
}
.fa-instagram {
	color: #e1306c;
}

.fa-linkedin-in {
	color: #0e76a8;
}
.fa-envelope {
	color: #d44638;
}

.card {
	position: absolute;

	background-color: white;
	width: 100%;
	height: 100%;

	border-radius: 8px;
	box-shadow: 0px 0px 0px 0px rgb(200, 200, 200);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: "Raleway", sans-serif;
	font-weight: 700;

	visibility: hidden;
	opacity: 0;

	transition: all ease-in-out 200ms;
}

.txt {
	font-size: 32px;
}

.container {
	margin: 36px 0px 0px;
}

#bar-container {
	height: 24px;
	width: 80%;
	background-color: #efefef;
	overflow: hidden;
}

#loading-bar {
	height: 100%;
	width: 100%;
	background-color: var(--teal-dark);
	animation: loadingbar 2s cubic-bezier(0.5, 0, 0.5, 1) 0s infinite normal;
}

@keyframes loadingbar {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

#successful-txt {
	text-align: center;
	padding: 0px 20px;
}

.circle-container {
	width: 100px;
	height: 100px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#tick-container {
	border: 6px solid green;
}

.fa-animate {
	animation: tick 1s cubic-bezier(0.6, 0, 0.4, 2) 0s infinite normal;
}

.fa-check {
	color: green;
}

@keyframes tick {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

.fa-times {
	color: red;
}

#cross-container {
	border: 6px solid red;
}

.again-btn {
	margin: 40px 0px 0px;
	cursor: pointer;
	font-size: 20px;
	padding: 0.5em 1em;
	border: 4px solid #00897b;
	color: #00897b;
	transition: all ease-in-out 240ms;
}

.again-btn:hover {
	color: white;
	background-color: var(--teal-dark);
}

@media only screen and (max-width: 900px) {
	#contact-sec {
		padding: 60px 0px;
	}

	#or {
		margin: 40px 0px;
	}
}
