*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	--back-color: white;
	--teal-dark: #00897b;
}

::-webkit-scrollbar {
	display: none;
}

section {
	height: 100vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 900px) {
	section {
		height: max-content;
		flex-direction: column;
	}
}
