#greet-sec {
	background-color: var(--back-color);
}

#greet-container {
	background-color: rgba(0, 0, 0, 0.05);
	margin: 40px;
	padding: 40px;
	position: relative;
}

#greet-details {
	color: rgb(100, 100, 100);
	font-size: 32px;
	font-family: "Roboto", sans-serif;
}

#greet-name {
	color: black;
	font-size: 52px;
	margin: 8px 0px 24px;
	font-family: "Questrial", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

#greet-post {
	background-color: black;
	color: white;
	text-transform: uppercase;
	padding: 0.5em 1em;
	text-align: center;
	font-family: "Montserrat Subrayada", sans-serif;
}

#greet-img {
	height: 85%;
}

#mouse {
	bottom: -16vh;
	left: 0px;
	right: 0px;
	margin: auto;

	position: absolute;
	width: 3px;
	padding: 8px 15px;
	height: 40px;
	border: 2px solid #000;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
}
.scroller {
	height: 10px;
	border-radius: 25%;
	background-color: #000;
	animation-name: scroll;
	animation-duration: 1.6s;
	animation-timing-function: cubic-bezier(0.38, 1.02, 0.78, 0.99); /*cubic-bezier(0.15, 0.41, 0.69, 0.94);*/
	animation-iteration-count: infinite;
}
@keyframes scroll {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	10% {
		transform: translate(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(16px);
		opacity: 0;
	}
}

@media only screen and (max-width: 900px) {
	#greet-sec {
		padding: 20px 0px 60px;
	}

	#greet-img {
		z-index: 0;
		width: 88%;
		max-width: 360px;
		height: auto;
	}

	#mouse {
		visibility: hidden;
	}
}
